%h1 Listing decent_work_and_economic_growths

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @decent_work_and_economic_growths.each do |decent_work_and_economic_growth|
      %tr
        %td= link_to 'Show', decent_work_and_economic_growth
        %td= link_to 'Edit', edit_decent_work_and_economic_growth_path(decent_work_and_economic_growth)
        %td= link_to 'Destroy', decent_work_and_economic_growth, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Decent work and economic growth', new_decent_work_and_economic_growth_path
