.wrap
  .title-area
    %p.no-poverty-title{ style: 'line-height: 100px;' } Decent
    %p.no-poverty-title{ style: 'line-height: 300px;' } Work
    %p.no-poverty-title{ style: 'line-height: 500px;' } Ecnomic
    %p.no-poverty-title{ style: 'line-height: 700px;' } Growth
    %a.move-icon{ :href => '#1', style: 'line-height: 1000px;' } ∨
    %a.move-icon{ :href => '#1', style: 'line-height: 1150px; font-size: 25px;' } scroll
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/economicGrowth/economic growth-icon-1", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/no-poverty/noPovertyHeaderIcon1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/no-poverty/noPovertyHeaderIcon2.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/economicGrowth/economic growth-icon-2' }
  %div.anime-test#target{ style: 'background-color: rgb(135, 39, 63);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2.effort-title 働きがいも経済成長も
      %h3.effort-sub-title 〜すべての人のための持続的、包摂的かつ持続可能な経済成長、生産的な完全雇用およびディーセントワークを推進する。〜
      %h3.effort-header 人々が働きがいのある仕事に就けるように
      %p 貧困に終止符を打つ為には安定した賃金を稼ぐこのできる仕事がなければなりません。
      %p しかし、2017年度の時点で世界人口の5.6%が失業しています。
      %h3.effort-header 目標の実現に向けて
      %p この目標を達成する為には、ジェンダー間の不平等や経済発展など様々な目標を達成する必要があります。
      %P この目標は他の目標と合わせて達成すべくものなのです。
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-8.png', class: 'anime-test-2', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js', 'body'