.wrap
  .title-area
    %p.no-poverty-title{ style: 'line-height: 100px;' } AFFORDABLE
    %p.no-poverty-title{ style: 'line-height: 300px;' } AND
    %p.no-poverty-title{ style: 'line-height: 500px;' } CLEAN
    %p.no-poverty-title{ style: 'line-height: 700px;' } ENERGY
    %a.move-icon{ :href => '#1', style: 'line-height: 1200px; margin-left: -60px;' } ∨
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/energy/energy-icon-1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/energy/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/energy/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/energy/energy-icon-2.jpg' }
  %div.anime-test#target{ style: 'background-color: rgb(255, 200, 0);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2.effort-title エネルギーをみんなに。そして、クリーンに。
      %h3.effort-sub-title 〜すべての人々が手頃に信頼でき、持続可能かつ近代的なエネルギーへのアクセスを確保する〜
      %p 先進国に住む我々は日常生活において信頼することができるエネルギーのサービスに依存しています。
      %p 先進国でそうであるように途上国においてのエネルギーのサービスを整備することは経済発展を支える上で必要不可欠となります。
      %h3.effort-header 目標の実現性について
      %p これを達成するためにはインフラへの投資額を現在の3倍にまで増やす必要があります。
      %P もちろん、この目標を解決するにあたりただエネルギーを供給すれば良いわけではありません。
      %P 東日本大震災による原発事故などの悲劇が今度起こらず、未来の子供が安心して暮らせるように我々はクリーンなエネルギーを供給する義務があるのです。
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-7.png', class: 'anime-test-2', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js', 'body'