.wrap
  .title-area
    %p.no-poverty-title{ style: 'line-height: 100px;' } Partnerships
    %p.no-poverty-title{ style: 'line-height: 300px;' } for
    %p.no-poverty-title{ style: 'line-height: 500px;' } The goals
    %a.move-icon{ :href => '#1', style: 'line-height: 1000px;' } ∨
    %a.move-icon{ :href => '#1', style: 'line-height: 1150px; font-size: 25px;' } scroll
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/partnership/partnership-icon-1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/partnership/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/health/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/partnership/partnership-icon-3.jpg' }
  %div.anime-test#target{ style: 'background-color: rgb(25, 72, 106);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2.effort-title パートナーシップで目標を達成しよう
      %h3.effort-sub-title 持続可能な開発に向けて実施手段を強化し、グローバル・パートナーシップを活性化する。
      %p 各国で取り決められた開発目標における課題解決に成果を出す為には特に脆弱な国々でより一層の取り組みが必用となります。
      %p 
      %h3.effort-header 目標の実現性について
      %p 
      %P 
      %P 
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-17.png', class: 'anime-test-2', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js', 'body'