%canvas.background
.container
  .box
    .input-area
      .user
        %img.login-user-img{ :src => 'assets/login_user_img.png' }
        .term= t('index.log_in')
        %input.email#email{ type: 'email', placeholder: 'メールアドレス', required: true }
      %br
      .password-area
        %img.login-key{ :src => 'assets/login_key.png'}
        .term= t('index.password')
        %input.password#password{ type: 'password', placeholder: 'パスワードを入力', required: true }
      %br
      %button.login-btn#login= t('index.log_in')
      %button.new-user-btn#newuser{ style: 'display: none;' }
      %button.new-user-btn
        = link_to '新規登録', 'tasks/new'