%h1 Listing climate_actions

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @climate_actions.each do |climate_action|
      %tr
        %td= link_to 'Show', climate_action
        %td= link_to 'Edit', edit_climate_action_path(climate_action)
        %td= link_to 'Destroy', climate_action, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Climate action', new_climate_action_path
