.wrap
  %img.background-icon{ :src => 'assets/climateChanges/climateIcon1.jpg' }
  .title-area
    %p.no-poverty-title CLIMATE
    %p.no-poverty-title ACTION
    %a.move-icon{ :href => '#1', style: ' line-height: 300px;' } ∨
.wrap#1
  %img.background-icon{ :src => 'assets/climateChanges/climateIcon2.jpg' }
  .title-area
    %a.move-icon{ :href => '#2', style: ' line-height: 1300px;' } ∨
.wrap#2
  %img.background-icon{ :src => 'assets/climateChanges/climateIcon3.jpg' }

= javascript_include_tag 'js_es-6.js'