.wrap
  .title-area
    %p.no-poverty-title CLIMATE
    %p.no-poverty-title{ style: 'line-height: 500px;' } ACTION
    %a.move-icon{ :href => '#1', style: 'line-height: 1200px; margin-left: -60px;' } ∨
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/climateChanges/climateIcon1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/energy/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/energy/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/climateChanges/climateIcon2.jpg' }
  %div.anime-test#target{ style: 'background-color: rgb(0, 100, 20);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2{ style: 'font-size: 40px;' } 気候変動に具体的な対策を
      %h3{ style: 'text-align: center;' } 気候変動とその影響に立ち向かうため、緊急対策を取る
      %p これまで見てきたようにSDGsでは持続可能な目標を掲げています。しかし、そもそも地球が持ち超えることができなかったらどうなるのでしょう？
      %p 気候変動は深刻な問題です。早急に対策を行わなければ本当に手遅れになるかもしれません。
      %h3{ style: 'text-align: center;' } 目標の実現性について
      %p 我々は再生可能なエネルギーへの取り組みを積極的に行うと共に平均気温のの上昇を2℃よりもはるかに下回る1.5℃に抑えるように使命があります、
      %P 問題の解決には莫大な資金が必要となります。
      %P 政府と企業、そして個人がすべきことをそれぞれ行う。それがこの問題の解決に繋がります。
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-13.png', class: 'anime-test-2', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js', 'body'