.wrap
  .title-area
    %p.no-poverty-title NO
    %p.no-poverty-title{ style: 'line-height: 500px;' } POVERTY
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/no-poverty/noPovertyIcon1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/no-poverty/noPovertyHeaderIcon1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/no-poverty/noPovertyHeaderIcon2.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/no-poverty/noPovertyIcon2.jpg' }
  .title-area
    %a.move-icon{ :href => '#2', style: ' line-height: 1300px;' } ∨
.wrap#2
  %img.background-icon{ :src => 'assets/no-poverty/noPovertyIcon3.jpg' }

= javascript_include_tag 'js_es-6.js', 'body'