.sdgs{ style: 'height: 920px;' }
 %h2 No poverty
.sdgs{ style: 'height: 920px; background-color: rgb(255, 0, 0); margin-top: 0;' }
.sdgs{ style: 'height: 920px; background-color: rgb(0, 255, 0); margin-top: 0;' }