%h1 Listing no_poverties

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @no_poverties.each do |no_poverty|
      %tr
        %td= link_to 'Show', no_poverty
        %td= link_to 'Edit', edit_no_poverty_path(no_poverty)
        %td= link_to 'Destroy', no_poverty, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New No poverty', new_no_poverty_path
