.wrap
  .title-area
    %p.no-poverty-title NO
    %p.no-poverty-title{ style: 'line-height: 500px;' } POVERTY
    %a.move-icon{ :href => '#1', style: 'line-height: 900px;' } ∨
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/no-poverty/noPovertyIcon1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/no-poverty/noPovertyHeaderIcon1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/no-poverty/noPovertyHeaderIcon2.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/no-poverty/noPovertyIcon2.jpg' }
  %div.anime-test#target
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-1.png', class: 'anime-test-2', id: 'target-2' }
    -# %a.move-icon{ :href => '#2', style: ' line-height: 500px;' } ∨
.wrap#2
  %img.background-icon{ :src => 'assets/no-poverty/noPovertyIcon3.jpg' }
  %button.details-btn{ style: 'margin-left: 155px;' }
    = link_to 'Home', users_path, class: 'detail-text back-to-home'

= javascript_include_tag 'js_es-6.js', 'body'