.header
  %button.log-out= t('header.title')
-# .popup
-#   %img.x{ :src => 'assets/x.png' }
-#   %p= t('popup.title')
-#   .title ポップアップを閉じる
.turn-box-area
  .tabs
    %div.tab.tab-1
      %div
        %p.turnBoxButton.turnBoxNext Introduce
      %div
        %p Introduce
    %div.tab.tab-2
      %div
        %p.turnBoxButton.turnBoxNext Skill
      %div
        %p Skill
    %div.tab.tab-3
      %div
        %p.turnBoxButton.turnBoxNext Contact
      %div
        %p Contact
.content-box
  %div.first
    .introduction
    .skill
    .shape
  %div.second
    .introduction
    .skill
    .shape
  %div.third
    .contact-form
      .name-form name
      .email-form mail
      %div お問い合わせ内容
      %input
    .socail-icon
      .git-hub
      .twitter
      .insta


-# .footer
-#   %img.good-btn{ :src => 'assets/good-btn.png'}
-#   %a.good 0

= javascript_include_tag 'turnBox.js', 'anime.min.js'

:javascript
  //htmlロード時の処理
  $(function(){
  });
  // ページ全体が読み込まれた時の処理
  $(window).on('turbolinks:load', function(){
    // ポップアップを表示
    $('.popup').css('display', 'visible');
    $('.x').click(function() {
      // ポップアップを消す
      $('.popup').css('display', 'none')
    });
  });
  let good = $('.good').val();
  $('.good-btn').click(function() {
    good++;
    $('.good').text(good);
    console.log(good)
  });
  var tab_width = 264;
  var content_width = 800;
  var duration = 350;
  var tab_box_class = $(".tab");
  var content_box_class = $(".content-box");

  tab_box_class.turnBox({
    width: tab_width,
    height: 60,
    perspective: 300,
    duration: duration,
    easing: "ease-in-out"
  });

  content_box_class.turnBox({
    width: content_width,
    height: 150,
    perspective: 1300,
    duration: duration,
    easing: "ease-in-out",
    type: "skip",
    axis: "y"
  });

  for(i = 0; i < tab_box_class.length; i++) {
    var num = i + 1;
    $(".tab.tab-" + num).turnBoxLink(
    {
      box: ".content-box",
      dist: num,
      events: "click"
    });
  };

  $.each($(".tabs").children(), function(key)
  {
    var tab = key + 1;

    $(".tab.tab-" + tab).find(".turnBoxButton").on("click", function()
    {
      $(".tab").not(".tab-" + tab).turnBoxAnimate();
    });
  });

  $(".tab.tab-1").turnBoxAnimate(
  {
    face: 2,
    animation: false
  });