.header
  %button.log-out log out
.wrapper
  -# .popup
  -#   %img.x{ :src => 'assets/x.png' }
  -#   %p= t('popup.title')
  -#   .title ポップアップを閉じる
  .content-box
    .introduction
    .skill
    .shape
.footer
  %img.good-btn{ :src => 'assets/good-btn.png'}
  %a.good 0

- content_for(:javascript) do
  = javascript_include_tag 'prarax', 'anime.min.js'

:javascript
  //htmlロード時の処理
  $(function(){
  });
  // ページ全体が読み込まれた時の処理
  $(window).on('turbolinks:load', function(){
    // ポップアップを表示
    $('.popup').css('display', 'visible');
    $('.x').click(function() {
      // ポップアップを消す
      $('.popup').css('display', 'none')
    });
  });
  let good = $('.good').val();
  $('.good-btn').click(function() {
    good++;
    $('.good').text(good);
    console.log(good)
  });
