.header
  %img.header-icon{ :src => 'assets/header-icon.jpg' }
  .header-text
    %a Top
    %a SDGs
    %a Effort
    %a For Japan
    %a Contact

.sdgs{ style: 'height: 100px; margin-top: 100px;' }
  %h1 SDGs
  %p{ style: 'text-align: center;' } 私たちはSDGsの活動を応援しています

.sdgs{ style: 'width: 1680px; height: 650px;' }
  .sdgs-icon-box-area
    .sdgs-icon-area
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-1.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-2.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-3.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-4.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-5.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-6.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-7.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-8.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-9.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-10.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-11.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-12.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-13.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-14.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-15.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-16.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-17.png' }
      %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-18.png' }
    .sdgs-icon-background
      .sdgs-explanation
        %h3{ style: 'text-align: center;' } SDGsとは？
        .sdgs-text-area
          %p{ style: 'font-weight: bold;' } SDGs(Sustainable Development Goals)とは、日本語で「持続可能な開発目標」のことを指す言葉です。
          %p{ style: 'font-weight: bold;' } 国連加盟193ヵ国で2016年から2030年の間の15年間でそれぞれが達成すべく設定した目標のことです。
          %p{ style: 'font-weight: bold; text-align: center;' } SDGsについて詳しくみる
        %button.details-btn{ style: 'margin-left: 155px;' } 詳細

.sdgs{ style: 'height: 100px; margin-top: 400px;' }
  %h1= t('effort.title')
  %p{ style: 'text-align: center;' } SDGsが掲げる17の目標
.scroll-area
  %div.sdgs-scroll-area
    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-1.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-2.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-3.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-4.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-5.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-6.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-7.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-8.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-9.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-10.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-11.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-12.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-13.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-14.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-15.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-16.png' }
      .sdgs-footer
        %button.details-btn 詳細

    .sdg
      %img.sdgs-box{ :src => 'assets/SDGs/sdgs-icon-17.png' }
      .sdgs-footer
        %button.details-btn 詳細
    

.sdgs{ style: 'height: 100px; margin-top: 100px;' }
  %h1 In Japan
  %p{ style: 'text-align: center;' } 日本での取り組み

.sdgs{ style: 'width: 1680px; height: 650px;' }
  .sdgs-icon-box-area-2
    .sdgs-explanation-2
      .sdgs-icon-area-2
      .sdgs-icon-background-2
        .sdgs-icon-background-2

.sdgs{ style: 'height: 480px; cursor: pointer; margin-top: 400px;' }
  %h1 Contact
  %p{ style: 'text-align: center;' } お問い合わせ
  %div{ class: 'example contact-form', style: 'margin-top: 100px;' }
    %div
      %p.turnBoxButton Contact
    %div
      %ul.user-information
        %li
          %span Name
          %input{ :type => 'text', :require => true }
        %li
          %span Mail
          %input{ :type => 'text', :require => true }
      %div
        %span.check
          %div
            %p{ class: 'confirm-button turnBoxButton' } confirm
          %div
            %p{ class: 'cancel turnBoxButton turnBoxPrev' }
            %p{ class: 'send turnBoxButton' }
    %div
      %p{ style: 'turnBoxButton turnBoxButtonPrev' }
    

.footer

= javascript_include_tag 'turnBox.js', 'anime.min.js', 'body.js', 'turn.min.js', 'turn.js'

:javascript
  //htmlロード時の処理
  $(function(){
  });
  // ページ全体が読み込まれた時の処理
  $(window).on('turbolinks:load', function(){
    $('#magazine').turn({
      display: 'double',
      acceleration: true,
      gradients: !$.isTouch,
      elevation:50,
      when: {
        turned: function(e, page) {
        }
      }
    });
    $(window).bind('keydown', function(e){
      if (e.keyCode==37)
        $('#magazine').turn('previous');
      else if (e.keyCode==39)
        $('#magazine').turn('next');
    });
  });
	
  // anime.js
  anime({
    targets: '.sdgs-icon-small',
    loop: true,
    scale: [
      {value: .1, easing: 'easeOutSine', duration: 500},
      {value: 1, easing: 'easeInOutQuad', duration: 1200}
    ],
    delay: anime.stagger(200, {grid: [14, 5], from: 'center'})
  });

  // turnBox.js
  var width = 340;
  var duration = 450;
  var general_box = $('.example');
  var confirm_box = general_box.find('.check');

  general_box.turnBox({
    width: width,
    height: 87,
    even: 400,
    perspective: 3000,
    duration: duration,
    easing: "ease-in-out",
    type: "repeat"
  });

  confirm_box.turnBox({
    width: width * 0.9,
    height: 60,
    perspective: 3000,
    duration: 300,
    easing: "ease-in-out"
  });

  confirm_box.find(".send").turnBoxLink({
    box: ".contact-form",
    events: "click touchend"
  });

  $(".confirm-button").on("click", function()
  {
    $(".contact-form input, .contact-form textarea").addClass("lock").attr("disabled", "disabled");
  });

  $(".cancel").on("click", function()
  {
    $(".contact-form input, .contact-form textarea").removeClass("lock").removeAttr("disabled");
  });

  confirm_box.find(".send").on("click touchend", function()
  {
    setTimeout(function()
    {
      confirm_box.turnBoxAnimate({
        animation: false
      });
      general_box.find("input").val("");
      general_box.find("textarea").val("");
      $(".contact-form input, .contact-form textarea").removeClass("lock").removeAttr("disabled");
    }, duration);
  });