-# = link_to 'New User', new_user_path
.header
#wrapper
  .popup
    %img.x{ :src => 'assets/x.png' }
    %p= t('popup.title')
    .title ポップアップを閉じる
  #first.content
  #second.content
  #third.content
  #four.content
  #five.content

:javascript
  //htmlロード時の処理
  $(function(){
  });
  // ページ全体が読み込まれた時の処理
  $(window).on('turbolinks:load', function(){
    $('.popup').css('display', 'visible');
    $('.x').click(function() {
      $('.popup').css('display', 'none')
    });
  });