.wrap
  .title-area
    %p.no-poverty-title{ style: 'line-height: 100px;' } Industry
    %p.no-poverty-title{ style: 'line-height: 300px;' } Innovation
    %p.no-poverty-title{ style: 'line-height: 500px;' } Infrastructures
    %a.move-icon{ :href => '#1', style: 'line-height: 1000px;' } ∨
    %a.move-icon{ :href => '#1', style: 'line-height: 1150px; font-size: 25px;' } scroll
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/industry/industry-icon-1", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/industry/slide-icon-2", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/industry/slide-icon-3", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/industry/industry-icon-2' }
  %div.anime-test#target{ style: 'background-color: rgb(255, 102, 26);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2.effort-title 産業と技術確信の基盤をつくろう
      %h3.effort-sub-title 〜強靭なインフラを整備し、包括的で持続的な産業化を推進すると共に、技術革新の各医大を図る。〜
      %p 経済成長、社会開発、気候変動対策はいずれも、インフラや持続可能性な産業開発、技術進歩への投資に大きく依存します。
      %p 産業化による雇用増加作用は社会に好影響を与えます。
      %h3.effort-header 目標の実現性について
      %p 新産業の成長は我々の生活水準の工場に繋がります。
      %P 産業が我々の生活にどのような影響を与えているのか考えましょう。
      %P そして、持続可能な新作業へ舵をとるのです。
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-9.png', class: 'anime-test-2', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js', 'body'