.wrap
  %img.background-icon{ :src => 'assets/education/educationIcon1.jpg' }
  .title-area{ style: 'margin-top: 0;' }
    %p.no-poverty-title INDUSTRY INNOVATIONS
    %p.no-poverty-title AND
    %p.no-poverty-title INFRASTRURUCTURE
    %a.move-icon{ :href => '#1', style: ' line-height: 100px;' } ∨
.wrap#1
  %img.background-icon{ :src => 'assets/education/educationIcon3.jpg' }
  .title-area
    %a.move-icon{ :href => '#2', style: ' line-height: 1300px;' } ∨
.wrap#2
  %img.background-icon{ :src => 'assets/education/educationIcon2.jpg' }

= javascript_include_tag 'js_es-6.js'