.wrap
  .title-area
    %p.no-poverty-title{ style: 'line-height: 100px;' } CLEAN
    %p.no-poverty-title{ style: 'line-height: 300px;' } WATER
    %p.no-poverty-title{ style: 'line-height: 500px;' } AND
    %p.no-poverty-title{ style: 'line-height: 700px;' } SANITATION
    %a.move-icon{ :href => '#1', style: 'line-height: 1000px;' } ∨
    %a.move-icon{ :href => '#1', style: 'line-height: 1150px; font-size: 25px;' } scroll
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/water/water-icon-1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/health/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/health/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/water/water-icon-3.jpg' }
  %div.anime-test#target{ style: 'background-color: rgb(23, 195, 230);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2.effort-title 安全な水とトイレを世界中に
      %h3.effort-sub-title 〜すべての人に水と衛星へのアクセスと持続可能な管理を確保する〜
      %h3.effort-header 安全な水の必要性について
      %p.effort-discription 現在、全世界で18億人の人々が汚染されている水を使用を強いられている状態です。
      %p.effort-discription トイレや公衆便所を使用することができない人々も24億人います。
      %p.effort-discription これらの水の衛星という問題は5歳未満児の大きな死亡原因として挙げられています。
      %h3.effort-header 目標の実現に向けて
      %p.effort-discription やはりこれに莫大なお金が必要となります。
      %P.effort-discription もちろん、水を必要とする人々への安全な水の供給は必要です。
      %P.effort-discription それと同時に生態系の維持といった別の義務も我々にはあるのです。
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-6.png', class: 'anime-test-2', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js'