.wrap
  .title-area
    %p.no-poverty-title NO
    %p.no-poverty-title{ style: 'line-height: 500px;' } HUNGER
    %a.move-icon{ :href => '#1', style: 'line-height: 1200px; margin-left: -60px;' } ∨
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/city/city-icon-1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/city/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/city/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/city/city-icon-2.jpg' }
  %div.anime-test#target{ style: 'background-color: rgb(255, 165, 0);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2{ style: 'font-size: 40px;' } 住み続けられるまちづくりを
      %h3{ style: 'text-align: center;' } 都市の人間の居住地を包括的、安全、強靭かつ持続可能にする。
      %p 現在、35億人の人々が都市で生活しています。2030年までに50億人が都市で暮らすことになると予測されています。
      %p 都市で住む人々には、都市部での貧困、気候変動、医療、教育といった人類が直面する課題の解決策を見つける義務があるのです。
      %h3{ style: 'text-align: center;' } 目標の実現性について
      %p 現在、都市部に住みながらもこのような問題を意識していないという方は多いでしょう。
      %P しかし、目を逸らせば早期の自然破壊につながることでライフスタイルへの変化が起こることは間違い無いでしょう。
      %P 我々はまず、このような問題があるという認知度を高めなければなりません。一人一人が声を上げるのです。

  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-11.png', class: 'anime-test-2', id: 'target-2' }
    %a.move-icon{ :href => '#2', style: ' line-height: 1600px; margin-left: -680px;' } ∨
.wrap#2
  %img.background-icon{ :src => 'assets/city/city-icon-3.jpg', style: 'height: 1000px;' }
  %div.anime-test{ style: 'width: 800px; height: 650px; margin-left: 450px;' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2{ style: 'text-align: center;' } たった100円？されど100円
      %h3{ style: 'text-align: center;' } 先進国に住む我々の課題
      %p もし、あなたが今日貧しい国の方々に10円寄付したらどうなるか？
      %p たった100円で何ができるの？
      %p あなたが仮に100円の募金をしたとしましょう。
      %p 日本で100円でできることには限りがありますが、貧しい国では異なります。
      %p 例えば、ブータンでは100円あれば子供のための給食が10人分作ることができます。
      %p お友達と10人で100円ずつ募金したとしましょう。
      %p それだけで100人の子供に食事を提供することができるのです。
      %h3{ style: 'text-align: center;' } 最後に
      %p もう一度、言います。
      %p たった100円で、あなたの100円で貧困は無くすことができるのです。

  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -540px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js', 'body'