.wrap
  .title-area
    %p.no-poverty-title{ style: 'line-height: 100px;' } Sustainable
    %p.no-poverty-title{ style: 'line-height: 300px;' } Cities
    %p.no-poverty-title{ style: 'line-height: 500px;' } And
    %p.no-poverty-title{ style: 'line-height: 700px;' } Communities
    %a.move-icon{ :href => '#1', style: 'line-height: 1000px;' } ∨
    %a.move-icon{ :href => '#1', style: 'line-height: 1150px; font-size: 25px;' } scroll
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/city/city-icon-1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/city/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/city/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/city/city-icon-2.jpg' }
  %div.anime-test#target{ style: 'background-color: rgb(255, 165, 0);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2.effort-title 住み続けられるまちづくりを
      %h3.effort-sub-title 〜都市の人間の居住地を包括的、安全、強靭かつ持続可能にする。〜
      %h3.effort-header 都市で暮らすとは
      %p.effort-discription 現在、35億人の人々が都市で生活しています。2030年までに50億人が都市で暮らすことになると予測されています。
      %p.effort-discription 都市で住む人々には、都市部での貧困、気候変動、医療、教育といった人類が直面する課題の解決策を見つける義務があるのです。
      %h3.effort-header 目標の実現に向けて
      %p.effort-discription 現在、都市部に住みながらもこのような問題を意識していないという方は多いでしょう。しかし、目を逸らせば早期の自然破壊につながることでライフスタイルへの変化が起こることは間違い無いでしょう。我々はまず、このような問題があるという認知度を高めなければなりません。一人一人が声を上げるのです。
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-11.png', class: 'anime-test-2', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js'