.wrap
  .title-area
    %p.no-poverty-title NO
    %p.no-poverty-title{ style: 'line-height: 500px;' } HUNGER
    %a.move-icon{ :href => '#1', style: 'line-height: 1200px; margin-left: -60px;' } ∨
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/city/city-icon-1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/city/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/city/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/city/city-icon-2.jpg' }
  %div.anime-test#target
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2{ style: 'font-size: 40px;' } 貧困を無くそう
      %h3{ style: 'text-align: center;' } あらゆる場所であらゆる形態の貧困に終止符を打つ
      %h3{ style: 'text-align: center;' } 貧困に終止符とは？
      %p 現在、地球上では7億人を超える人々が1日1ドル90セント未満の生活を強いられる極度の貧困の中の生きています。
      %p 裕福な生活をした我々が貧困の人々を救うことは福祉的な観点が一番大きいですが、経済成長の拡大と共に不平等が拡大することは将来的な紛争や戦争といった争うの可能性を限りなく減らすと言う観点からも重要である。
      %h3{ style: 'text-align: center;' } 目標の実現性について
      %p この目標は実現可能です。なぜなら、極度の貧困を減らすために必要となる資金は1,750億ドルと推定されています。
      %P この額がどれほどちっぽけなものであるかというと全世界のもっとも裕福であると言われている国々の総所得を合わした額の1%にも及ばない程度なのです。
      %P 先進国で暮らす我々ができることはあなたが想像しているよりもはるかにたくさんあるのです。　

  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-11.png', class: 'anime-test-2', id: 'target-2' }
    %a.move-icon{ :href => '#2', style: ' line-height: 1600px; margin-left: -680px;' } ∨
.wrap#2
  %img.background-icon{ :src => 'assets/city/city-icon-3.jpg', style: 'height: 1000px;' }
  %div.anime-test{ style: 'width: 800px; height: 650px; margin-left: 450px;' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2{ style: 'text-align: center;' } たった100円？されど100円
      %h3{ style: 'text-align: center;' } 先進国に住む我々の課題
      %p もし、あなたが今日貧しい国の方々に10円寄付したらどうなるか？
      %p たった100円で何ができるの？
      %p あなたが仮に100円の募金をしたとしましょう。
      %p 日本で100円でできることには限りがありますが、貧しい国では異なります。
      %p 例えば、ブータンでは100円あれば子供のための給食が10人分作ることができます。
      %p お友達と10人で100円ずつ募金したとしましょう。
      %p それだけで100人の子供に食事を提供することができるのです。
      %h3{ style: 'text-align: center;' } 最後に
      %p もう一度、言います。
      %p たった100円で、あなたの100円で貧困は無くすことができるのです。

  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -540px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js', 'body'