.wrap
  .title-area
    %p.no-poverty-title GENDER
    %p.no-poverty-title{ style: 'line-height: 500px;' } EQUALITIES
    %a.move-icon{ :href => '#1', style: 'line-height: 1000px;' } ∨
    %a.move-icon{ :href => '#1', style: 'line-height: 1150px; font-size: 25px;' } scroll
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/gender/gender-icon-1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/health/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/health/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/gender/gender-icon-3.jpg' }
  %div.anime-test#target{ style: 'background-color: rgb(255, 64, 26);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2.effort-title ジェンダー平等を実現しよう
      %h3.effort-sub-title 〜ジェンダーの平等を達成し、すべての女性と女児のエンパワーメントを図る〜
      %h3.effort-header ジェンダー平等を確保する
      %p.effort-discription ジェンダーの格差問題は深刻です。
      %p.effort-discription 世界人口の半数を占める女性と女児は、世界の可能性の半分であるといえます。
      %p.effort-discription 女性というだけで適切な医療が受けることができない、社会的に差別を受けるといったことがあっては我々の未来は無いのです。
      %h3.effort-header 目標の実現に向けて
      %p.effort-discription 男性でも男児であれ、女性や女児と連携し、ジェンダー平等の達成と、健全で相互を尊重する関係の確率を図るkとができる。
      %P.effort-discription 女性の雇用機会の増加はもはや我々の義務とあると言えます。
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-5.png', class: 'anime-test-2', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js'