.wrap
  .title-area
    %p.no-poverty-title GENDER
    %p.no-poverty-title{ style: 'line-height: 500px;' } EQUALITIES
    %a.move-icon{ :href => '#1', style: 'line-height: 1200px; margin-left: -60px;' } ∨
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/gender/gender-icon-1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/health/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/health/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/gender/gender-icon-3.jpg' }
  %div.anime-test#target{ style: 'background-color: rgb(255, 69, 0);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2.effort-title 貧困を無くそう
      %h3.effort-sub-title 〜あらゆる場所であらゆる形態の貧困に終止符を打つ〜
      %h3.effort-header 貧困に終止符とは？
      %p 現在、地球上では7億人を超える人々が1日1ドル90セント未満の生活を強いられる極度の貧困の中の生きています。
      %p 裕福な生活をした我々が貧困の人々を救うことは福祉的な観点が一番大きいですが、経済成長の拡大と共に不平等が拡大することは将来的な紛争や戦争といった争うの可能性を限りなく減らすと言う観点からも重要である。
      %h3.effort-header 目標の実現性について
      %p この目標は実現可能です。なぜなら、極度の貧困を減らすために必要となる資金は1,750億ドルと推定されています。
      %P この額がどれほどちっぽけなものであるかというと全世界のもっとも裕福であると言われている国々の総所得を合わした額の1%にも及ばない程度なのです。
      %P 先進国で暮らす我々ができることはあなたが想像しているよりもはるかにたくさんあるのです。　
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-5.png', class: 'anime-test-2', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js', 'body'