.wrap
  .title-area
    %p.no-poverty-title QUALITY
    %p.no-poverty-title{ style: 'line-height: 500px;' } EDUCATION
    %a.move-icon{ :href => '#1', style: 'line-height: 1200px; margin-left: -60px;' } ∨
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/education/educationIcon1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/health/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/health/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/education/educationIcon2.jpg' }
  %div.anime-test#target
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2{ style: 'font-size: 40px;' } 質の高い目標をみんなに
      %h3{ style: 'text-align: center;' } 質の高い教育の普及の必要性について
      %p 質の高い教育の普及はSDGsの目標達成の鍵を握っています。それは質の高い教育が貧困の連鎖に終止符を打つと信じているからです。
      %p 教育は教養を養うだけでなく、不平等の是非、ジェンダー間の不平等の撲滅に貢献すると考えられています。
      %h3{ style: 'text-align: center;' } 目標の実現性について
      %p 実は開発途上国の初等教育就学率は91%ととても前進しています。
      %p ですが、その中でも女性は教育が受けることができないなどの問題も残っています。
      %P 我々はこれから教育の重要性というものを世界に提示しなければならないのです。

  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-4.png', class: 'anime-test-2', id: 'target-2' }
    %a.move-icon{ :href => '#2', style: ' line-height: 1600px; margin-left: -680px;' } ∨
.wrap#2
  %img.background-icon{ :src => 'assets/education/educationIcon3.jpg', style: 'height: 1000px;' }
  %div.anime-test{ style: 'width: 800px; height: 650px; margin-left: 450px;' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2{ style: 'text-align: center;' } たった100円？されど100円
      %h3{ style: 'text-align: center;' } 先進国に住む我々の課題
      %p もし、あなたが今日貧しい国の方々に10円寄付したらどうなるか？
      %p たった100円で何ができるの？
      %p あなたが仮に100円の募金をしたとしましょう。
      %p 日本で100円でできることには限りがありますが、貧しい国では異なります。
      %p 例えば、ブータンでは100円あれば子供のための給食が10人分作ることができます。
      %p お友達と10人で100円ずつ募金したとしましょう。
      %p それだけで100人の子供に食事を提供することができるのです。
      %h3{ style: 'text-align: center;' } 最後に
      %p もう一度、言います。
      %p たった100円で、あなたの100円で貧困は無くすことができるのです。

  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -540px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js', 'body'