@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merienda');

/* Default Styling */
h1 {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
}

h1, h2 {
  text-align: center;
}

body {
  overflow: auto;
  margin: auto;
  background-color: #f5f5f5;
}

li {
  list-style: none;
}

a {
  user-select: none;
  text-decoration: none;
}
a:hover {
  background: none;
}

p {
  line-height: 2.5;
}

/* Log In Styling */
.input-area {
  position: absolute;
  width: 550px;
  height: 250px;
  background-color: rgba(55, 55, 55, 0.8);
  text-align: center;
}

.login-icon {
  width: 1680px;
  height: 1000px;
  position: absolute;
}

.new-user-title {
  height: 50px;
  margin-bottom: 22px;
}

.user, .password-area {
  width: 380px;
  height: 20px;
}
.user {
  margin: 60px 0 0 20px;
}
.password-area {
  margin: 20px 0 0 20px;
}

.login-user-img, .login-key, .term{
  float: left;
}
.login-user-img, .login-key {
  margin-left: 40px;
}
.email, .password {
  width: 180px;
  float: right;
  margin-right: 40px;
}

.login-btn, .new-user-btn {
  width: 100px;
  height: 30px;
  cursor: pointer;
}
.login-btn {
  background-color: rgb(63, 76, 194);
}
.new-user-btn {
  background-color: rgb(238, 86, 16);
}


/* Header Styling */
.header {
  width: 1680px;
  top: 0;
  margin: 0;
  z-index: 999;
  position: relative;
}

.header-icon {
  width: 1680px;
  height: 980px;
}

.header-title {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 22px;
  cursor: pointer;
}

.header-menu {
  width: 700px;
  height: 50px;
  text-align: center;
  right: 30px;
  top: 20px;
}

.canvas-area {
  width: 1680px;
  top: 0px;
}

.header-menu, .canvas-area {
  position: absolute;
}

/* Body Styling */
.details-btn {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  margin: 25px 25px;
  color: #3363ff;
  background-color: #e6ecff;
  font-size: 19.5px;
  border: none;
}

.detail-text, .detail-text:hover {
  color: #3363ff;
}

/* SDGs Styling */
.sdgs {
  max-width: 1680px;
  height: 370px;
  margin-top: 50px;
}

.sdg {
  width: 300px;
  height: 450px;
  margin: 0 130px;
  float: left;
}

.sdgs-box {
  width: 300px;
  height: 300px;
  margin: 100px 0 0 0;
  border-radius: 5px 5px 0 0;
}

.sdgs-text-area {
  width: 400px;
  height: 230px;
  margin: auto;
}

.sdgs-icon-box-area {
  width: 1000px;
  height: 600px;
}

.sdgs-icon-area {
  width: 930px;
  height: 520px;
  margin-left: 50px;
  margin-top: 100px;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  z-index: 99;
}

.sdgs-explanation {
  width: 550px;
  height: 400px;
  vertical-align: top;
  display: inline-block;
  background-color: rgb(255, 255, 240);
  box-shadow: -3px 3px 2px rgb(230, 230, 215);
  margin: 100px 0 0 1100px;
  position: absolute;
  border: 1px solid rgb(240, 240, 225);
}

.scroll-area {
  width: 1680px;
  height: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.sdgs-scroll-area {
  top: 0;
  bottom: 0;
  padding: 0;
  width: 9520px;
  height: 580px;
  position: relative;
}

.sdgs-icon {
  width: 500px;
  height: 400px;
  margin: 350px 0 0 900px;
}

.sdgs-icon-small {
  width: 150px;
  height: 150px;
  margin: 0;
}

.sdgs-footer {
  width: 300px;
  height: 100px;
  margin-top: -5px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 5px 5px;
}

/* Effort Styling */
.effort-icon {
  width: 1680px;
  height: 700px;
}

/* In Japan Styling */
.japan-icon {
  width: 1680px;
  height: 1000px;
}

.japan-text {
  width: 800px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  z-index: 50;
  position: absolute;
  margin: -300px 0 0 500px;
}

.discription{
  width: 600px;
  margin: auto;
}

.in-japan-discription {
  font-size: 15px;
}

.Ministry-of-Foreign-Affairs {
  margin: -800px 0 0 900px;
}

.company, .japan {
  margin: -800px 0 0 150px;
}

.swipe-area {
  width: 1680px;
  height:1000px;
}

.sdgs-wrapper {
  width: 1680px;
  height: 600px;
  margin-top: 100px;
}

/* Awareness Styling */
.awareness {
  width: 1350px !important;
  height: 600px!important;
  margin-left: 150px !important;
}

/* Contact Styling */
.contact-text {
  font-size: 20px !important;
}

/* Footer Styling */
.footer-title, .git-hub, .btn-to-top, .footer-text {
  font-family: Georgia, serif;
}

.footer {
  width: 1680px;
  height: 300px;
  background-color: rgb(10, 10, 10, 0.8);
  margin-top: 600px;
  position: relative;
}

.footer-icon-area {
  width: 200px;
  height:   180px;
  float: right;
  margin: 100px 40px 0 0;
}

.footer-title {
  width: 300px;
  height: 200px;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  font-size: 100px;
  float: left;
  line-height: 300px;
  margin-left: 100px;
}

.git-hub-icon {
  margin-left: 35px;
}

.git-hub {
  color: rgb(255, 255, 255);
  text-align: center;
}

.btn-to-top {
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 30px;
  margin-right: 80px;
  margin-top: 22px;
  cursor: pointer;
  user-select: none;
  float: right;
}

.footer-text {
  color: rgb(150, 150, 150);
  float: left;
  margin: 170px 0 0 20px;
}

.log-out {
  width: 100px;
  height: 40px;
  font-size: 18px;
  background-color: #fff;
  cursor: pointer;
  outline: 0;
  position: absolute;
  margin-top: 220px;
  margin-left: 650px;
}

/* TurnBox Styling */
input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  background-color: #fff;
}

.example {
  color: #fff;
  margin: 0px auto;
  text-align: center;
}

.turnBoxFace {
  box-sizing: border-box;
}

.example {
  color: #fff;
  margin: 0px auto;
}

.example.turnBoxCurrentFace1 > .turnBoxFaceNum1, .example.turnBoxCurrentFace3 > .turnBoxFaceNum3 {
  background-color: #66b30d;
}

.example.turnBoxCurrentFace1 > .turnBoxFaceNum1:hover, .example.turnBoxCurrentFace3 > .turnBoxFaceNum3:hover {
  background-color: #5ea40c;
}

.example > .turnBoxFaceNum1, .example > .turnBoxFaceNum3 {
  background-color: #3d6b08;
}

.example.turnBoxCurrentFace2 > .turnBoxFaceNum2 {
  background-color: #6ec10e;
}

.example > .turnBoxFaceNum1 p, .example > .turnBoxFaceNum3 p {
  width: 100%;
  height: 100%;
}

.example > .turnBoxFaceNum2 {
  background-color: #457a09;
}

.example > .turnBoxFace {
  box-sizing: border-box;
}

.example p {
  line-height: 4.2;
}

.example textarea, .example input {
  -webkit-transition: all 240ms ease-in-out 0ms;
  -moz-transition: all 240ms ease-in-out 0ms;
  -ms-transition: all 240ms ease-in-out 0ms;
  -o-transition: all 240ms ease-in-out 0ms;
  transition: all 240ms ease-in-out 0ms;
  background-color: rgba(255, 255, 255, 1); 
  border: 1px solid transparent; 
}

.example textarea.lock, .example input.lock {
  background-color: rgba(255, 255, 255, 0); 
  border-color: rgba(0, 0, 0, 0.15); 
}

.example textarea {
  margin-top: 20px;
  width: 306px;
  height: 150px;
  resize: none;
  padding: 10px 20px;
  font-size: 18px;
  box-sizing: border-box;
}

.user-information {
  padding-top: 10px;
}

.user-information > li > * {
  display: inline-block;
}

.user-information > li > span {
  width: 13%;
  text-align: right;
  font-size: 14px;
  margin-right: 20px;
}

.user-information > li > input {
  width: 65%;
  height: 20px;
  padding: 8px 10px;
}

.user-information > li:first-child {
  margin-bottom: 5px;
}

.check {
  margin: 0px auto;
  margin-top: 23px;
}

.check.turnBoxCurrentFace1 .turnBoxFaceNum1 {
  background-color: #08870c;
}

.check.turnBoxCurrentFace1 > .turnBoxFaceNum1:hover, .check.turnBoxCurrentFace3 > .turnBoxFaceNum3:hover {
  background-color: #076f0a;
}

.check > .turnBoxFaceNum1 {
  background-color: #055708;
}

.check > .turnBoxFaceNum2 {
  font-size: 0;
}

.check > .turnBoxFaceNum2 .turnBoxButton {
  display: inline-block;
  width: 50%;
  font-size: 25px;
}

.check p {
  line-height: 3;
  font-size: 20px;
  cursor: pointer
}

.check.turnBoxCurrentFace2 .cancel {
  background-color: #444;
}

.check.turnBoxCurrentFace2 .send {
  background-color: #de0707;
}

.check.turnBoxCurrentFace2 .cancel:hover {
  background-color: #2b2b2b;
}

.check.turnBoxCurrentFace2 .send:hover {
  background-color: #ad0505;
}

.cancel {
  background-color: #2b2b2b;
}

.send {
  background-color: #ad0505;
}

/* Each Effort Page Styling */
.background-icon, .title-area, .each-effort-title, .move-icon, .back-to-home {
  position: absolute;
}

.title-area, .effort-sub-title, .effort-header {
  text-align: center;
}

.wrap {
  width: 1680px;
  height: 1000px;
  margin: 0;
  padding: 0;
  margin-top: 0;
  position: relative;
}

.background-icon {
  width: 1680px;
  height: 1000px;
}

.title-area{
  width: 700px;
  height: 600px;
  margin-left: 490px;
  margin-top: 250px;
}

.each-effort-title {
  width: 700px;
  font-size: 110px;
  font-weight: bold;
  z-index: 1000;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}

.move-icon {
  font-size: 100px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 1000;
}

.effort-title {
  font-size: 35px;
}

.effort-header {
  font-size: 21px;
  color: rgb(255, 228, 196);
}

.effort-sub-title{
  font-size: 18px;
}

.effort-discription {
  font-size: 13px;
}

.back-to-home {
  z-index: 1000;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  animation: zoomUp 10s linear 0s 1 normal both;
}

.swiper-container, .swiper-wrapper {
  width: 1680px;
}

.slide-img {
  position: relative;
}

.animation-left {
  width: 600px;
  height: 650px;
  display: block;
  position: relative;
  margin-left: 100px;
  animation: animation-left 3s ease;
  float: left;
  top: 150px;
  color: rgb(255, 255, 255);
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 5px;
}

.animation-right {
  width: 500px;
  height: 500px;
  display: block;
  position: relative;
  margin-left: 300px;
  animation: animation-right 3s ease;
  float: left;
  top: 200px;
}

@keyframes animation-left {
  0% {
    opacity: 0;
    top: 250px;
  }
  100% {
    opacity: 1;
    top: 150;
  }
}

@keyframes animation-right {
  0% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
    top: 200px;
  }
}

/* Responsiveã€€Styling */
@media screen and (max-width: 480px) {
  .header-icon {
    width: 100%;
  }
  .home-title {
    margin-left: 600px;
  }
  .sdgs-icon-area {
    width: 365px;
    height: 300px;
    margin: 30px;
  }
  .sdgs-icon-small {
    width: 50px;
    height: 50px;
  }
  .sdgs {
    width: 100%;
    margin-top: 20px;
  }
  .swiper-container, .swiper-wrapper {
    width: 100%;
  }
  .japan-icon {
    width: 100%;
  }
  .anime-area {
    width: 100%;
    margin-left: 200px;
  }
  canvas {
    width: 800px !important;
    height: 600px !important;
  }
  #canvas-wrapper {
    display: none;
  }
  .effort-icon {
    margin-left: -600px;
  }
  .contact-area {
    margin-left: 680px;
  }
}

@media screen and (max-width: 600px) {
  .header-icon {
    width: 100%;
  }
  .home-title {
    margin-left: 500px;
  }
  .sdgs-icon-area {
    width: 730px;
    height: 600px;
    margin: 30px;
  }
  .sdgs-icon-small {
    width: 100px;
    height: 100px;
  }
  .sdgs {
    width: 100%;
    margin-top: 20px;
  }
  .swiper-container, .swiper-wrapper {
    width: 100%;
  }
  .japan-icon {
    width: 100%;
  }
  .anime-area {
    width: 100%;
    margin-left: 200px;
  }
  canvas {
    width: 800px !important;
    height: 600px !important;
  }
  #canvas-wrapper {
    display: none;
  }
  .effort-icon {
    margin-left: -500px;
  }
  .contact-area {
    margin-left: 720px;
  }
}