@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merienda');

.background {
  background: rgb(0, 0, 0);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Default Styling */
body {
  font-family: 'Merienda', cursive;
  overflow: hidden;
  margin: auto;
  /* background: rgb(37, 36, 35); */
  background-color: rgb(0, 0, 0);

}

.header {
  width: 1680px;
  height:80px;
  background-color: rgb(10, 10, 10);
  box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.4);
  top: 0;
  z-index: 3;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 1580px;
  height: 820px;
  overflow: scroll;
  margin: auto;
}

.box {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 400px;
  width: 400px;
  height: 130px;
}

.user, .password-area {
  width: 380px;
  height: 20px;
}
.user {
  margin-top: 20px;
}

.login-user-img, .login-key, .term{
  float: left;
}
.login-user-img, .login-key {
  margin-left: 40px;
}
.email, .password {
  width: 180px;
  float: right;
  margin-right: 40px;
}

.login-btn, .new-user-btn {
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.new-user-title {
  height: 50px;
  margin-bottom: 22px;
}

/* Parallax　Design */
.content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  height: 1000px;
  top: 0;
}

.popup {
  width: 800px;
  height: 350px;
  position: absolute;
  background-color: rgba(200, 200, 200, 0.8);
  margin: 200px 500px;
  z-index: 99;
  border-radius: 10px;
}

.x {
  width: 36px;
  height: 36px;
  float: right;
  cursor: pointer;
}

.content-box {
  width: 1600px;
  margin: 150px auto;
  text-align: center;
}

:root {
	--background: #005;
	--primary: #88D5BF;
	--secondary: #5D6BF8;
  --third: #e27fcb;
  --force: #ffe4b5;
  --five: #f08080;
}

.introduction {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: moveX 12s ease-in-out infinite;
  border-radius: 80% 50% 80% 70% / 30% 60% 90% 70%;
  height: 500px;
  transition: all 1s ease-in-out;
  width: 500px;
  z-index: 5;
  float: left;
  cursor: pointer;
}

.skill {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: moveY 8s ease-in-out infinite;
  border-radius: 70% 30% 40% 70% / 40% 70% 30% 60%;
  height: 500px;
  transition: all 1s ease-in-out;
  width: 500px;
  z-index: 5;
  float: left;
  margin-left: 30px;
  cursor: pointer;
}

.shape {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 500px;
  transition: all 1s ease-in-out;
  width: 500px;
  z-index: 5;
  float: left;
  margin-left: 30px;
  cursor: pointer;
}

@keyframes morph {
  0% {
    border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
	
	50% {
    border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	}
  
	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
		background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
}

@keyframes moveY {
  0% {
    border-radius: 70% 30% 40% 70% / 40% 70% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  50% {
    border-radius: 70% 40% 30% 60% / 40% 50% 60% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 40% 60% 30% 40% / 40% 60% 50% 70%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }
}

@keyframes moveX {
  0% {
    border-radius: 30% 70% 60% 30% / 40% 70% 30% 60%;
    background: linear-gradient(45deg, var(--force) 0%, var(--secondary) 100%);
  }

  50% {
    border-radius: 70% 40% 30% 60% / 40% 50% 60% 40%;
    background: linear-gradient(45deg, var(--five) 0%, var(--primary) 100%);
  }

  100% {
    border-radius: 40% 60% 30% 40% / 40% 60% 50% 70%;
    background: linear-gradient(45deg, var(--force) 0%, var(--secondary) 100%);
  }
}

/* footer */
.footer {
  width: 1680px;
  height: 80px;
  background-color: rgb(10, 10, 10);
}

.good-btn {
  width: 40px;
  height: 40px;
  margin: 10px 0 0 20px;
  cursor: pointer;
}

.good {
  color: rgb(255, 255, 255);
  font-size: 28px;
}
