.wrap
  %img.background-icon{ :src => 'assets/education/educationIcon1.jpg' }
  .title-area
    %p.no-poverty-title LIFE BELOW
    %p.no-poverty-title LAND
    %a.move-icon{ :href => '#1', style: ' line-height: 300px;' } ∨
.wrap#1
  %img.background-icon{ :src => 'assets/education/educationIcon3.jpg' }
  .title-area
    %a.move-icon{ :href => '#2', style: ' line-height: 1300px;' } ∨
.wrap#2
  %img.background-icon{ :src => 'assets/education/educationIcon2.jpg' }

= javascript_include_tag 'js_es-6.js'