%h1 Listing life_on_lands

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @life_on_lands.each do |life_on_land|
      %tr
        %td= link_to 'Show', life_on_land
        %td= link_to 'Edit', edit_life_on_land_path(life_on_land)
        %td= link_to 'Destroy', life_on_land, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Life on land', new_life_on_land_path
