.wrap
  %img.background-icon{ :src => 'assets/lifeofwater/lifeicon1.jpg' }
  .title-area{ style: 'margin-top: 0;' }
    %p.no-poverty-title LIFE
    %p.no-poverty-title OF
    %p.no-poverty-title WATERS
    %a.move-icon{ :href => '#1', style: ' line-height: 100px;' } ∨
.wrap#1
  %img.background-icon{ :src => 'assets/lifeofwater/lifeicon2.jpg' }
  .title-area
    %a.move-icon{ :href => '#2', style: ' line-height: 1300px;' } ∨
.wrap#2
  %img.background-icon{ :src => 'assets/lifeofwater/lifeicon3.jpg' }

= javascript_include_tag 'js_es-6.js'