.wrap
  .title-area
    %p.no-poverty-title{ style: 'line-height: 100px;' } Life
    %p.no-poverty-title{ style: 'line-height: 300px;' } Below
    %p.no-poverty-title{ style: 'line-height: 500px;' } Waters
    %a.move-icon{ :href => '#1', style: 'line-height: 1000px;' } ∨
    %a.move-icon{ :href => '#1', style: 'line-height: 1200px; font-size: 25px;' } scroll
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/lifeofwater/lifeicon1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/energy/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/energy/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/lifeofwater/lifeicon2.jpg' }
  %div.anime-test#target{ style: 'background-color: rgb(0, 136, 204);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2.effort-title 海の豊かさを守ろう
      %h3.effort-sub-title 〜海洋と海洋資源を持続可能な開発に向けて保全し、持続可能な形で利用する〜
      %h3.effort-header 持続可能な海洋資源を
      %p.effort-discription 海は我々に多大な天然資源を提供してくれています。
      %p.effort-discription 近年の環境破壊により、海の生態系が崩れかけています。我々には美しい海を守る義務があるのです。
      %h3.effort-header 目標の実現に向けて
      %p.effort-discription ゴミの削減は必須事項です。我々は物を消費する際に必要な分だけを購入したり、消費するべきです。
      %P.effort-discription また、プラスチックの利用は控える必要があるともいえます。
      %p.effort-discription 必要のないコンセントを抜くだけで省エネができ海面上昇を抑える要因となります。
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-14.png', class: 'anime-test-2', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js'