.wrap
  %img.background-icon{ :src => 'assets/zeroHunger/zeroHungerIcon1.jpg' }
  .title-area
    %p.no-poverty-title ZERO
    %p.no-poverty-title HUNGER
    %a.move-icon{ :href => '#1', style: ' line-height: 100px;' } ∨
.wrap#1
  %img.background-icon{ :src => 'assets/zeroHunger/zerohungericon2.jpg' }
  .title-area
    %a.move-icon{ :href => '#2', style: ' line-height: 1300px;' } ∨
.wrap#2
  %img.background-icon{ :src => 'assets/zeroHunger/zerohungericon3.jpg' }

= javascript_include_tag 'js_es-6.js'