.wrap
  .title-area
    %p.each-effort-title ZERO
    %p.each-effort-title{ style: 'line-height: 500px;' } HUNGER
    %a.move-icon{ :href => '#1', style: 'line-height: 1000px;' } V
    %a.move-icon{ :href => '#1', style: 'line-height: 1150px; font-size: 25px;' } scroll
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/zeroHunger/zeroHungerIcon1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/zeroHunger/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/zeroHunger/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/zeroHunger/zerohungericon2.jpg' }
  %div.animation-left#target{ style: 'background-color: rgb(230, 161, 23);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2.effort-title 飢餓をゼロに
      %h3.effort-sub-title 〜飢餓に終止符を打ち、食料の安定確保と栄養状態の改善を達成するととみに持続可能な農業を推進する〜
      %h3.effort-header 飢餓に苦しむ約8億人の人々を救いたい
      %p.effort-discription 現在、飢餓に苦しむ人々は7億9,500万人と推定されている。さらに、2050年にまでに予測されている世界人口増加分の20億人分の食料を私たちはこれから確保しなければならないのです。
      %p.effort-discription その為にも、現在の飢餓に終止符を打ち、さらに安定した食料供給ができる改革が必要とされているのです。
      %h3.effort-header 目標の実現に向けて
      %p.effort-discription この世界で暮らす誰もが安全で安定した食料供給を求めています。これらが達成されることで世界経済は今よりもさらに発展することが予測されています。2030年に飢餓に終止符を打つ為に2,670億ドルが必要になると考えられています。さらに、一時的な食料供給だけでなく、これからも安定した食料供給ができるようなシステム構築への投資も必要となります。
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-2.png', class: 'animation-right', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js'