.wrap
  .title-area
    %p.no-poverty-title{ style: 'line-height: 30px;' } Peace
    %p.no-poverty-title{ style: 'line-height: 200px;' } Justice
    %p.no-poverty-title{ style: 'line-height: 400px;' } And
    %p.no-poverty-title{ style: 'line-height: 600px;' } Strong
    %p.no-poverty-title{ style: 'line-height: 800px;' } Institutions
    %a.move-icon{ :href => '#1', style: 'line-height: 1000px;' } ∨
    %a.move-icon{ :href => '#1', style: 'line-height: 1150px; font-size: 25px;' } scroll
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .slide-img
          %img{ :src => "assets/peace/partnership-icon-1.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/peace/slide-icon-2.jpg", style: 'width: 1680px; height: 1000px;' }
      .swiper-slide
        .slide-img
          %img{ :src => "assets/peace/slide-icon-3.jpg", style: 'width: 1680px; height: 1000px;' }

.wrap#1
  %img.background-icon{ :src => 'assets/peace/partnership-icon-2.jpg' }
  %div.anime-test#target{ style: 'background-color: rgb(0, 104, 157);' }
    %div{ style: 'width: 400px; height: 650px; margin: auto;' }
      %h2.effort-title 平和と公正をすべての人に
      %h3.effort-sub-title 〜持続可能な開発に向けて平和で包括的な社会を推進し、すべての人に司法へのアクセスを提供すると共に、あらゆるレベルにおいて効果的である責任ある包括的な制度を構築する。〜
      %h3.effort-header 平和、正義、そして充実した制度機構を
      %p 持続可能な開発を行うためには平和、そして公正かつ包括的な社会が必要となります。
      %p SDGsの達成を目指す上で我々は質の高い教育、医療、公正な経済政策、包括的な環境保護を実現する公共快感を必要としているのです。
      %h3.effort-header 目標の実現に向けて
      %p 各国政府と市民社会、コミュニティーが連携し、暴力を撲滅する必要があります。
      %P そして、自分の意見を表明することのできる自由を我々は保障する義務があるのです。
  %img.sdgs-icon-small{ :src => 'assets/SDGs/sdgs-icon-16.png', class: 'anime-test-2', id: 'target-2' }
  %button.details-btn{ style: 'position: absolute; margin: 850px 0 0 -770px;' }
    = link_to 'HOME', users_path, class: 'detail-text'

= javascript_include_tag 'js_es-6.js', 'body'