.footer
  .container
    .row
      .col-sm-3
        %h2.footer-title= t('body.sdgs')
        -# %p SDGsのご意見、感想、お問い合わせ各種、お気軽にどうぞ。
        %img{ :src => 'assets/Git-hub.png' }
        %p
          = link_to 'Git Hub', "https://github.com/HikaruKobayashi/SDGs", class: 'detail-text'
        %a.detail-text{ :href => "#index" } Top ⤴
    %hr/
    .row.text-center 2019 @ Hikaru Kobayshi
