.footer
  .container
    .row
      .col-sm-3
        %img{ :src => 'assets/Git-hub.png' }
        %p
          = link_to 'Git Hub', "https://github.com/HikaruKobayashi/SDGs", class: 'detail-text'
        %p 2019 @ Hikaru Kobayshi